<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link th:href="@{/css/main.css}" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
	    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	  <title>Edit</title>
	</head>
	<body style="background-color: #151a1e">
	  <header>
	    <nav class="navbar navbar-dark bg-dark fixed-top border-secondary border-bottom">
	      <div class="container-fluid">
	        <a class="navbar-brand md-0 h2" style="font-size: 28px" href="/home">Song Journal</a>
	        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
	          <li class="nav-item">
	            <a class="nav-link active" aria-current="page" href="/about">About</a>
	          </li>
	        </ul>
	        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
	          aria-controls="offcanvasDarkNavbar" style="padding-top: 10px; padding-bottom: 10px">
	          <span class="bi bi-person-fill" style="font-size: 28px;"></span>
	        </button>
	        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
	          aria-labelledby="offcanvasDarkNavbarLabel">
	          <div class="offcanvas-header">
	            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="font-size: 32px">Profile</h5>
	            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
	              aria-label="Close"></button>
	          </div>
	          <div class="offcanvas-body">
	            <ul class="navbar-nav justify-content-end flex-grow-1">
	              <li class="nav-item text-center">
	                <i class="bi bi-person-circle" style="font-size: 250px;"></i>
	              </li>
	              <li class="nav-item text-center">
	                <p class="h1">Username</p>
	              </li>
	              <li class="nav-item dropdown text-center">
	                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                  Account Actions
	                </a>
	                <ul class="dropdown-menu dropdown-menu-dark">
	                  <li><a class="dropdown-item" href="#">Check Account Details</a></li>
	                  <li>
	                    <hr class="dropdown-divider">
	                  </li>
	                  <li><a class="dropdown-item" href="#">Change Password</a></li>
	                  <li>
	                    <hr class="dropdown-divider">
	                  </li>
	                  <li><a class="dropdown-item" href="#">Unlink Spotify</a></li>
	                </ul>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </nav>
	  </header>
	
	
	  <div class="container-md min-vh-100 bg-dark border border-secondary" style="padding-top: 105px;">
	    <main role="main" class="pb-3">
	      <div class="row text-center justify-content-center">
	        <h4 class="text-bg-dark mb-3" th:text="${journalEntry.ID} ? 'Edit Journal Entry' : 'Add New Journal Entry'">
	        </h4>
	
	        <form action="#" th:action="@{/save}" th:object="${journalEntry}" method="POST">
	          <!-- Invisible Form as needed to update info -->
	          <input type="hidden" th:field="*{ID}">
	          <input type="hidden" th:field="*{journalID}">
	          <input type="hidden" th:field="*{DateTime}">
	
	          <!-- Visible Fields -->
	          <input type="text" th:field="*{songList}" class="form-control mb-4 col-4" placeholder="Song name: Artist">
	          <textarea th:field="*{comment}" rows="5" minlength="0" maxlength="512" class="form-control mb-4 col-4"
	            placeholder="Comments"></textarea>
	
	          <button type="submit" th:text="${journalEntry.ID} ? 'Update Entry' : 'Add Entry'"
	            class="btn btn-success col-2"></button>
	        </form>
	      </div>
	    </main>
	  </div>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	    crossorigin="anonymous"></script>
	</body>
</html>